body {
    margin: 0px;
    padding-top: 80px;
    background-image: linear-gradient(to left, #00C9FF, #92FE9D);
}

#main {
    text-align: center;
    border-radius: 10px;
    margin: 10px auto;
    border: 1px solid #000;
    width: 25%;
    height: 430px;
}

h1 {
    font-size: 160%;
    color: white;
    width: 100%;
}

#table {
    color: black;
    width: 100%;
    height: 40vh;
}

#showCalculation {
    background-color: rgb(206, 206, 146);
    width: 95%;
    height: 10%;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}

td>input {
    width: 100%;
    height: 80%;
    background-color: rgb(206, 206, 146);

    border: 1px solid black;
    border-radius: 10px;
}