body {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.container {
    text-align: center;
    height: 60vh;
}

.dice {
    display: inline-block;
    width: 40%;
    height: 60%;
}

.btn {
    margin: 2% 42%;
    border: 1px solid black;
    border-radius: 10px;
    width: 15%;
    height: 5vh;
    text-align: center;
}

#player2Score {
    display: inline-block;
    border-radius: 5px;
    position: absolute;
    top: 6%;
    border: 1px solid black;
    left: 80%;
}

#player1Score {
    display: inline-block;
    position: absolute;
    top: 6%;
    left: 18%;
    border-radius: 5px;
    border: 1px solid black;
}
#name1{
     display: inline-block;
    border-radius: 5px;
    position: absolute;
    top: 1%;
    border: 1px solid black;
    left: 80%;
}#name2{
    display: inline-block;
    position: absolute;
    top: 1%;
    left: 18%;
    border-radius: 5px;
    border: 1px solid black;
}
